<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">D3 Charts</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/group-chart" routerLinkActive="active"> group-chart</a></li>
        <li><a routerLink="/line-chart" routerLinkActive="active"> line-chart</a></li>
        <li><a routerLink="/donut-chart" routerLinkActive="active"> donut</a></li>
        <li><a routerLink="/multi-line-chart" routerLinkActive="active"> multi-line</a></li>
        <li><a routerLink="/multi-bar-chart" routerLinkActive="active"> multi-bar</a></li>
        <li><a routerLink="/water-fall" routerLinkActive="active"> waterFall</a></li>
      </ul>
    </div>
  </div>
</nav>
  <router-outlet></router-outlet>



