
<div id="donut" class="text-center">
  <svg width="600" height="300"></svg>
  <div>
    <p><b>Donut Chart:</b> This donut chart is constructed from a Example.ts file storing the populations of various age groups </p>
  </div>
</div>
<div class="col-md-6 col-md-offset-3">
  <table class="table table-striped table-bordered col-md-6">
    <thead>
      <tr>
        <th>#</th>
        <th>C</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let values of source; let i = index;">
        <td>{{i + 1}}</td>
        <td> {{values.c}}</td>
        <td>{{values.y}}</td>
      </tr>
    </tbody>
  </table>

</div>
